body{
    background-color: aqua;
}

.header{
    position: fixed;
    width: 1875px;
    height: 100px;
    border: 3px solid rgb(0, 0, 0) ;
    background-color:green
}

ul{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

li{
    color: rgb(0, 255, 21);
    font-size: 30px;
    list-style: none;
}

.one{
    width: auto;
    height: 600px;
    border: 3px solid rgb(0, 0, 0);
    background-color: yellow;
}

.two{
    width: auto;
    height: 600px;
    border: solid rgb(0, 0, 0);
    background-color: rgb(0, 255, 200);
}

.three{
    width: auto;
    height: 600px;
    border: solid black;
    background-color: rgb(98, 0, 255);
}

.foure{
    width: auto;
    height: 600px;
    border: solid rgb(0, 0, 0);
    background-color: rgb(255, 145, 0);
}